<h2>新規登録</h2>

<div class="form-group">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


    <% f.label :email %><br />
    <%= f.email_field :email,placeholder: 'Eメールアドレス', autofocus: true, autocomplete: "email", class: 'form-control mb-3' %>


    <% f.label :name %>
    <%= f.text_field :name, placeholder: 'フルネーム', class: 'form-control mb-3' %>



    <% f.label :display_name %> <em>(最大6文字まで)</em><br />
    <%= f.text_field :display_name,placeholder: 'ニックネーム', autofocus: true, maxlength: "6", cols: 6, class: 'form-control mb-3' %>




    <% f.label :password %>
    <% if @minimum_password_length %>
    <em>(最低<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "new-password", class: 'form-control mb-3' %>



    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: 'パスワード（確認）', autocomplete: "new-password", class: 'form-control mb-3' %>


  <div class="actions">
    <%= f.submit "アカウント登録", class: 'btn btn-lg btn-info btn-block' %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
