<% if user_signed_in? %>
    <% @posts.each do |post| %>
        <div class="card-deck">
        <div class="card">
          <%= link_to image_tag("th_IMG_3245-728x546.jpg", alt: "top image", class: 'card-img-top')%>
          <div class="card-body">
            <h4 class="card-title"><%= post.item_name %></h4>
            <p class="card-text"><%= post.text %></p>
            <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
          </div>
        </div>
        <div class="card">
          <%= link_to image_tag("449A0960.jpg", alt: "top image", class: 'card-img-top')%>
          <div class="card-body">
            <h4 class="card-title"><%= post.item_name %></h4>
            <p class="card-text"><%= post.text %></p>
            <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
          </div>
        </div>
        <div class="card">
          <%= link_to image_tag("2016-10-21-19.58.24.jpg", alt: "top image", class: 'card-img-top')%>
          <div class="card-body">
            <h4 class="card-title"><%= post.item_name %></h4>
            <p class="card-text"><%= post.text %></p>
            <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
          </div>
        </div>
      </div>
        <% end %>
        <div class="mb-5">
          <%= paginate @posts %>
          <%= page_entries_info @posts %>
        </div>
    <% else %>
    </div>
        <div class="text-center">
            <h1>WelcomByeへようこそ</h1>
            <h3>今すぐ写真を投稿しよう!</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="item1 col-xs-6 col-lg-4">
                  <%= link_to image_tag("4b7c508ac19ceab99bdaca5dd162ff37_m.jpg", alt: "top image")%>
                </div>
                <div class="item2 col-xs-6 col-lg-8">
                  <h1 class="logo">WelcomBye</h1>
                  <h2 class="catchcopy">手にした物・手放した物を整理しよう</h2>
                <%= link_to 'アカウント作成', new_user_registration_path, class: 'btn btn-info btn-lg '%>
                <div class="login-jump">
                  <p>
                    アカウントをお持ちですか?
                    <%= link_to 'ログインする', new_user_session_path %>
                  </p>
                </div>
              </div>
        <% end %>
    </div>
</div>
