<% if user_signed_in? %>
  <div class="card-deck">
    <%= render @posts %>
  </div>
    <div class="mb-4 text-right">
      <%= paginate @posts %>
      <%= page_entries_info @posts %>
    </div>
<% else %>
  <div class="top-wrapper">
      <%= link_to image_tag("top_page.jpg", alt: "top image", class: "back_image")%>
      <p>手にした物・手放した物を整理しよう</p>
      <div class="sign_up-jump">
          <%= link_to 'アカウント作成', new_user_registration_path, class: 'btn btn-info btn-lg '%>
      </div>
      <div class="login-jump">
        <p>
          アカウントをお持ちですか?
          <%= link_to 'ログインする', new_user_session_path %>
        </p>
      </div>
  </div>
<% end %>
