<h1>手にした物の数:<%=@posts_flag_zero %>_手放した物の数:<%=@posts_flag_one %></h1>
<% if user_signed_in? %>
    <% @posts.each do |post| %>
    <div class="card-deck">
      <div class="card">
        <%= link_to image_tag("th_IMG_3245-728x546.jpg", alt: "post.item_name", class: 'card-img-top')%>
        <div class="card-body">
          <h4 class="card-title"><%= post.item_name %></h4>
          <p class="card-text"><%= post.text %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
      <div class="card">
        <%= link_to image_tag("449A0960.jpg", alt: "post.item_name", class: 'card-img-top')%>
        <div class="card-body">
          <h4 class="card-title"><%= post.item_name %></h4>
          <p class="card-text"><%= post.text %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
      <div class="card">
        <%= link_to image_tag("2016-10-21-19.58.24.jpg", alt: "post.item_name", class: 'card-img-top')%>
        <div class="card-body">
          <h4 class="card-title"><%= post.item_name %></h4>
          <p class="card-text"><%= post.text %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
  </div>
    <% end %>
<% end %>
<div class="mb-5">
  <%= paginate @posts %>
  <%= page_entries_info @posts %>
</div>
