<div class="d-flex justify-content-center">
  <div class="h1 m-2">手にした物の数:<%= @gets_item %></div>
  <div class="h1 m-2">手放した物の数:<%= @releases_item %></div>
</div>
<div class="d-flex justify-content-center">
  <h2 class="d-block p-2 bg-primary text-white "><%= @notice_message %></h2>
</div>
<% if user_signed_in? %>
  <div class="card-deck">
    <%= render @posts %>
  </div>
<% end %>
<div class="mb-5">
  <%= paginate @posts %>
</div>
