<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

<div class="pagetitle">
<h1>新規投稿</h1>
</div>


<%= link_to "一覧", root_path, class: 'btn btn-primary' %>

<%= form_with model: @post, local: true do |f| %>
  <p>
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name, class: 'form-control', placeholder: '例：カバン' %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, class: 'form-control', placeholder: '例：hogehogefoobar' %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-lg btn-primary btn-block' %>
  </p>
<% end %>
