
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>WelcomBye</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <title>WelcomBye</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
          <%= link_to 'WelcomeBye', root_path, class:'navbar-brand' %>
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
              <div class="collapse navbar-collapse " id="navbarCollapse">
                  <ul class="navbar-nav mr-auto navbar-right ">
                    <li class="font-weight-bold nav-link active">
                      ログイン名:<%= current_user.display_name %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "マイ投稿一覧", myindex_path, class: "nav-link " %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿する", new_post_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "マイページ", edit_user_registration_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                    </li>
                  </ul>
                  <form class="form-inline mt-2 mt-md-0">
                  <%= form_with url: root_path, method: :get, local: true do |f| %>
                    <%  f.label :search, '検索' %>
                    <%= f.text_field :search, class: "form-control mr-sm-2", placeholder: 'item_name' %>
                    <%= f.submit 'Search', class: "btn btn-outline-success my-2 my-sm-0", item_name: nil %>
                  <% end %>
                  </form>
              </div>
      </nav>
      <% end %>
    </header>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <%= yield %>
      <%= render 'layouts/footer' %>
    </body>
</html>
